.categorys {
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
}

.categorys a {
  text-decoration: none;
}

.category {
  max-height: 15em;
}

.category img {
  max-width: 100%;
  min-width: 100%;
  max-height: 90%;
}

.category-description {
  padding: 0.5em 0;
}

.category:hover {
  background-color: #acacac;
  border: 1px solid #14b1e0;
}

.col-sm-6 {
  width: 48%;
  max-width: 20em;
}

.col-md-3 {
  width: 30%;
}

@media only screen and (min-width: 768px) {
  .category {
    flex-direction: row;
    flex-wrap: unset;
    padding: 0;
  }
}
