.categorys {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 0;
  gap: 0;
}

.category {
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-description {
  padding: 0.5em 0;
}

.category:nth-child(odd) {
  background-color: #f0f0f0;
}

.category:hover {
  background-color: #f3f3f3;
  border: 1px solid #14b1e0;
}

@media only screen and (min-width: 768px) {
  .category {
    flex-direction: row;
    flex-wrap: unset;
    padding: 0;
  }

  .category-name {
    width: 20%;
  }
}
